.glyphicon {
  top: 0 !important;
}

.navbar-brand {
  height: 100%;
  padding: 0px !important;
}

.nav-logo {
  height: 100%;
}

.file-desc {
  min-height: 200px !important;
}

form > .row {
  margin-bottom: 10px;
}

form > .row > label {
   text-align: right;
}
